body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
/* Flex container for page structure */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

/* Content wrapper for dynamic height */
.content-wrap {
    flex: 1;
    padding-bottom: 60px; /* Height of the footer */
    margin-bottom: 90px;
}
.search-section {
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.search-section h2 {
    margin-bottom: 15px;
}

.search-section form {
    display: inline-block;
    text-align: left;
}

.search-section label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.search-section input,
.search-section select,
.search-section button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button {
    background-color: white;
    color: #007bff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-section button:hover {
    background-color: #0056b3;
    color: white;
}

.product-list {
    padding: 20px;
}

.product-item {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.product-item p {
    margin: 5px 0;
}

.product-item form {
    margin-top: 15px;
}

.product-item input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-item button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #0056b3;
}
